#{$sfdo-css-prefix} {

  &-inline-toc {
    display: inline-block;

    margin-bottom: $spacing-medium;

    &__heading {
      padding-top: 0;
    }

    &__list {
      margin-bottom: 0;
    }
  }
}
