@import
  './mixins';

.example {
  background: #fff;
  &__container {
    background: #fff;
    padding: $spacing-large;
  }
}

.slds,
#{$sfdo-lc-prefix} {

  .sfdo-kb {
    dt {
      font-weight: 500;
    }
  }

  #{$sfdo-css-prefix} {

    @import
      './notes',
      './toc',
      './main';
  }

  @include themes();
}
