@import './mixins';

.example {
  background: #fff;
  &__container {
    background: #fff;
    padding: $spacing-large;
  }
}

.slds .sfdo-kb,
.hub-primary-theme {

  .sfdo-kb {
    dt {
      font-weight: 500;
    }
  }

  @import
    './notes',
    './toc';

  #{$sfdo-css-prefix} {
    @import './main';
  }
}
